<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../invoice_dashboard.css">
<title>Invoice Dashboard</title>
</head>

<%= erb :navigation %>

<body>

  <div class="header">
      <h1 class ="header-title">Invoice Dashboard</h1>
  </div>

  <div class="invoice-dashboard-container">
    <section class="info-box">
      <h1>Status Percentages</h1>
      <% Invoice.unique_statuses.each do |status| %>
        <p> <%= status %> </p>
      <% end %>
    </section>

    <section class="info-box">
      <h1>Unit Prices</h1>
      <% Invoice.unique_statuses.each do |status| %>
        <p> <%= status %> </p>
      <% end %>
    </section>
  </div>

</body>
