<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" type="text/css" href="../../../main.css">

    <meta charset="utf-8">
    <title>Invoices</title>
  </head>
  <body>
    <div class="row nav">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <h1>Little Shop</h1>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        Merchants
      </div>

      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        Items
      </div>

      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        Invoices
      </div>
    </div>

    <div class="header">
      <h1 class ="header-title">Invoices</h1>
      <button type="button" class="btn btn-secondary button-shadow">Create Invoice</button>
    </div>

    <a href="/invoices">Dashboard</a>

    <div class="invoice-display">
      <% invoice = Invoice.find(params[:id]) %>
      <li> Merchant ID: <%= invoice[:merchant_id] %> </li>
      <li> Status: <%= invoice[:status] %> </li>
    </div>

</body>
</html>
