<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../main.css">
</head>
<body>
  <div class="nav">
    <div class="merchant-header">
      <h1>Little Shop</h1>
    </div>

    <div class="header-links">
      <a href='/merchants'>Merchants</a>
    </div>

    <div class="header-links">
      <a href='/items'>Items</a>
    </div>

    <div class="header-links">
      <a href='/invoices'>Invoices</a>
    </div>
  </div>

  <div class="header">
      <h1 class ="header-title">Create a New Merchant!</h1>

    <form action="/merchants" method="post">
      <input type="text" name='merchant[id]' value="ID">
      <input type="text" name='merchant[name]' value="Merchant Name">
      <input type="submit"/>
    </form>
  </div>
</body>
