<head>
  <link rel="stylesheet" type="text/css" href="../../../reset.css">
  <link rel="stylesheet" type="text/css" href="../../../main.css">
</head>
<body>
  <%= erb :navigation %>
  <div class="header">
      <h1 class ="header-title">Create a New Merchant!</h1>

    <form action="/merchants" method="post">
      <input type="text" name='merchant[id]' value="ID">
      <input type="text" name='merchant[name]' value="Merchant Name">
      <input type="submit"/>
    </form>
  </div>
</body>
