<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../../reset.css">
    <link rel="stylesheet" type="text/css" href="../../../merchant_dashboard.css">
    <title>Item Dashboard</title>
  </head>

  <body>
    <%= erb :navigation %>
    <header>
    </header>
    <main>
      <div>
      </div>
    </main>
  </body>
</html>
