<!-- views/items/index.erb -->
<h1>Items</h1>
<a href='/items/dashboard'>Dashboard</a>
<a href='/items/new'>Create A New Item</a>
    <% @items.each do |item| %>
      <a href='/items/show'><%= item.title %></a>
      <%= item.description %>
      <%= item.price %>
      <%= item.image %>
    <% end %>
