<!-- views/items/index.erb -->
<h1>Items</h1>
<a href='/items/dashboard'>Dashboard</a>
<a href='/items/new'>Create A New Item</a>
    <% @items.each do |item| %>
    <ul>
      <li><%= item.title %></li>
      <li><%= item.description %></li>
      <li><%= item.price %></li>
      <li><%= item.image %></li>
    </ul>
    <% end %>
