body {
  background: linear-gradient(to top, hotpink, white)
}

/* BUTTON STYLES */
a.button {
  color: white;
  border: none;
  border-radius: 12px;
  background-color: #4286f4;
  display: inline-block;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
  border: 2px solid;
}

.submit-button {
  background-color: yellow;
  border-radius: 12px;
}

.edit-button {
  background-color: yellow;
  float: right;
}

.delete-button {
  background-color: red;
  float: right;
}

#button a:hover {
    background-color: hotpink;
}

/* HEADER STYLES */

.merchant-display {
  display: inline-block;
  margin: auto;
  width: 500px;
  text-align: center;
  border: solid;
  padding: auto;
  width: 50%;
}

.merchant-header {
  float: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.introduction {
  font-size: 50px;
}

.header-title {
  font-size: 40px;
}

.header {
  text-align: center;
  background-color: #f0f0f5;
  margin: 10px;
  border: solid;
  padding: 20px;
}

/* INVOICE STYLES */
.invoice-display {
  border: solid;
  margin: 5px;
  padding: 5px;
}

.invoice-display li {
  width: 75%;
  margin: auto;
  padding: 2px 5px;
  display: inline-block;
}

li.buttons {
  float: right;
}

li.invoice-id {
  width: 500px;
}

li.status {
  width: 100px;
}

/* MERCHANT STYLES */

.dashboard-display {
  display: flex;
}

/* ITEM STYLES */

.item {
  display: flex;
  margin: 10px;
  width: 20%;
  text-align: center;
  border: solid;
  flex: auto;
  flex-direction: row;
}

.link {
  text-decoration-line: underline;
}
