.nav {
  margin: 5px;
  padding: 5px;
  border: solid;
}

.button-shadow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}
.header-title {
  font-size: 40px;
}

.header {
  text-align: center;
  background-color: #f0f0f5;
  margin: 5px 5px 0 5px;
  border: solid;
  padding: 10px;
}

.invoice-display {
  border: solid;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.invoice-display li {
  width: 75%;
  margin: auto;
  padding: 2px 5px;
  display: inline-block;
}

li.invoice-id {
  width: 500px;
}

li.status {
  width: 100px;
}

li.buttons {
  float: right;
}
