body {
  background: linear-gradient(to top, hotpink, white);
}

.header {
  background-color: #f0f0f5;
  margin: 1px 5px;
  border: solid;
  padding: 20px;
}


.header-title {
  font-size: 40px;
}

.flex-container {
  border: solid;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
