body {
  background: linear-gradient(to top, hotpink, white);
}

th, td, tr {
  padding: 20px;
}

.header {
  background-color: #f0f0f5;
  margin: 1px 5px;
  border: solid;
  padding: 20px;
  text-align: center;
}

.header-title {
  font-size: 40px;
}

.column-headers {
  text-decoration: underline;
}

.flex-container {
  background: linear-gradient(to bottom, lightgreen, white);
  border: solid;
  padding: 20px;
  text-align: center;
  margin: auto;
}
