h1 {
  font-size: 30px;
}
img {
  height: 75px;
  width: 75px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

li {
  padding: 5px;
}

.header {
  text-align: center;
  background-color: #f0f0f5;
  margin: 10px;
  border: solid;
  padding: 20px;
}

.merchant-display {
  display: inline-block;
  border: 2px solid;
  margin: 10px;
}

.item-display {
  display: flex;
  flex-direction: column;
  max-width: 70vw;;
  margin: auto;

}


.edit-button {
  background-color: yellow;
  text-align: center;
  margin-top: 10px;
}

.delete-button {
  background-color: red;
  text-align:center;
}
