<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../../dashboard.css">
  <title>Little Shop</title>
</head>
<body class="home-hero">
  <%= erb :navigation %>
    <ul>
      <li><a href="/merchants">Merchants Index</a></li>
      <li><a href="/invoices">Invoice Index</a></li>
      <li><a href="/items">Item Index</a></li>
    </ul>
</body>
</html>
