<html>
<head>
  <link rel="stylesheet" type="text/css" href="../../../dashboard.css">
  <title>Little Shop</title>
</head>
<body class="home-hero">
  <%= erb :navigation %>
  <header class="header">
    <h1 class="header-title">Welcome to the Little Shop!</h1>
  </header>
</body>
</html>
