<head>
  <link rel="stylesheet" type="text/css" href="../../../navigation.css">
</head>
<body>
  <nav class="nav">
    <a href="/"><button class="dropbtn">Little Shop</button></a>

    <div class="dropdown">
        <button class="dropbtn">Merchants</button>
        <div class="dropdown-links">
            <li><a href="/merchants">Merchant Index</a></li>
            <li><a href="/merchants/new">Create a New Merchant</a></li>
            <li><a href="/merchants-dashboard">Merchant Dashboard</a></li>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Items</button>
        <div class="dropdown-links">
            <li><a href="/items">Item Index</a></li>
            <li><a href="/items/new">Create a New Item</a></li>
            <li><a href="/items-dashboard">Item Dashboard</a></li>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Invoices</button>
        <div class="dropdown-links">
            <li><a href="/invoices">Invoice Index</a></li>
            <li><a href="/invoices-dashboard">Invoice Dashboard</a></li>
        </div>
    </div>
  </nav>
</body>
