<head>
  <link rel="stylesheet" type="text/css" href="../../../navigation.css">
</head>
<body>
  <nav class="nav">
    <a href="/"><button class="dropbtn">Little Shop</button></a>

    <div class="dropdown">
        <button class="dropbtn">Merchants</button>
        <div class="dropdown-links">
            <a href="/merchants">Merchant Index</a>
            <a href="/merchants/new">Create a New Merchant</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Items</button>
        <div class="dropdown-links">
            <a href="/items">Item Index</a>
            <a href="/items/new">Create a New Item</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Invoices</button>
        <div class="dropdown-links">
            <a href="/invoices">Invoice Index</a>
            <a href="/invoices/new">Create a New Invoice</a>
        </div>
    </div>
  </nav>
</body>
